<div class="container credits">
  <div class="col up-shift">
    <div class="square bone down-shift-one-with-half">
      <span class="symbol minus down-shift-double">-</span>
      <span class="symbol equal">=</span>  
    </div>
    <span class="square symbol cross rotate pulse">×</span>
    <span class="square word up-shift-quarter">welcome</span>
  </div>
  <div class="vr"></div>
  <div class="grid-box">
    <div class="svg-img"></div>
   </div>
</div>
<div>Angular {{ angularVersion }}</div>