$breakpoint: 375px;
:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  .split {
    display: flex;
    flex-direction: column;
    
    @media (min-width: $breakpoint) {
      flex-direction: row;
    }
  }
  .input-section {
    flex: 1;
    @media (min-width: $breakpoint) {
      flex-direction: row;
    }
  }
  .swatch {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    input[type="color"] {
      padding: 1rem;
      width: 10rem;
      height: 10rem;
      font-size: 1rem;
      border: 2px solid var(--neon);
      border-radius: 50%;
      background: none;
      appearance: none;

      &::-webkit-color-swatch {
        border: none;
        border-radius: 50%;
        padding: 0;
      }

      &::-moz-color-swatch {
        border: none;
        border-radius: 50%;
        padding: 0;
      }

      &:focus {
        outline: 2px solid var(--neon);
        outline-offset: 0;
      }
    }

    input[type="text"] {
      font-size: 1.25rem;
      padding: 0.5rem;
      width: 8rem;
      border: none;
      font-family: var(--font-source-code-pro);
      border-radius: 0.25rem;
      text-align: center;
    }
    input + input {
      margin-top: 1rem;
    }
  }
  .panel {
    position: relative;
  }
  .color-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .desaturated-section {
    height: 10vh;
  }
  @media (max-width: calc($breakpoint - 1px)) {
    .desaturated-section {
      z-index: 2;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 10vh;
      height: 5vh;
    }
    .left-panel .desaturated-section {
      bottom: 0;
    }
    .right-panel .desaturated-section {
      top: 0;
    }
  }
}