<div class="content-wrapper">
  <header>
    <nav>
      <a routerLink="/home" routerLinkActive="active">Главная</a> |
      <a routerLink="/colormatch" routerLinkActive="active">ColorMatch</a> |
      <a routerLink="/flexrouble" routerLinkActive="active">FlexRouble</a> |
      <a routerLink="/works" routerLinkActive="active">Works</a> |
      <a routerLink="/credits" routerLinkActive="active">Credits</a>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <p>$</p>
  </footer>
</div>