@use 'styles/mixins' as *;

:host {
  @include center;
  flex: 1;
  overflow: hidden;
  align-self: stretch;
  color: var(--body-color);
  position: relative;
  background-repeat: no-repeat;
  background-position: 0 30%;
  background-size: cover;
  background-image: url('/assets/bg.jpg');
  
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    nav {
      padding: 1rem 1.5rem;
      text-align: center;
      a {
        color: white;
        &.active {
          color: beige;
        }
      }
    }
  }

}
