@use 'styles/mixins' as *;

:root {
  --shift: 1.5rem;
  --box: 6rem;
  --neon: oklch(88.607% 0.11268 205.257);
  --body-color: oklch(27.962% 0.02048 276.914);
  --magenta: oklch(44.254% 0.18929 342.878);
  --darkmatter: oklch(27.249% 0.14101 303.761);
  --gradient: linear-gradient(135deg, var(--magenta), var(--darkmatter));
  --font-source-code-pro: 'Source Code Pro', monospace;
}
#pageCanvas {
  position: fixed;
  display: block;
  pointer-events: none;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}
body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  font-family: "Tahion Regular", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  background-color: var(--body-color);
}
app-root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
}

@font-face {
  font-family: 'Tahion Regular';
  src: 
    url('assets/fonts/tahion/bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Tahion Bold';
  src: 
    url('assets/fonts/tahion/bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'Tahion Narrow';
  src: 
    url('assets/fonts/tahion/narrow-u.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

.text-tahion-regular {
  font-family: 'Tahion Regular', sans-serif;
}
.text-tahion-bold {
  font-family: 'Tahion Bold', sans-serif;
}
.text-tahion-n {
  font-family: 'Tahion Narrow', sans-serif;
}