@use 'styles/mixins' as *;

:root {
  --shift: 1.5rem;
  --box: 6rem;
  --body-color: hsl(186, 97%, 72%);
}
body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  background-color: darkslategray;
}
app-root {
  @include center;
  flex: 1;
}
