@use 'styles/mixins' as *;

:root {
  --shift: 1.5rem;
  --box: 6rem;
  --body-color: hsl(186, 97%, 72%);
}
body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  background-color: darkslategray;
}
app-root {
  @include center;
  flex: 1;
}
.text-tahion-bold {
  font-family: 'Tahion Bold', sans-serif;
}
.text-tahion-n {
  font-family: 'Tahion Narrow', sans-serif;
}

@font-face {
  font-family: 'Tahion Bold';
  src: 
    url('assets/fonts/tahion/bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'Tahion Narrow';
  src: 
    url('assets/fonts/tahion/narrow-u.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}